<h1> Authors </h1>
<% @Authors.each do |author| %>
  <h3><%= link_to author.name, "/authors/#{author.id}" %></h3>
  <p>Created at: <%= author.created_at %></p>
  <h5><%= link_to "Update #{ author.name }", "/authors/#{ author.id }/edit", method: :get %> :: 
  <%= link_to "Delete #{ author.name }", "/authors/#{ author.id }", method: :delete %>
<% end %>
<br>
<h4><%= link_to 'New Author', '/authors/new' %></h4>
