<h1>Books</h1>
<% @Books. each do |book| %>
  <h3><%= link_to book.name, "/books/#{ book.id }" %></h3>
  <p>By:  <%= link_to book.author.name, "/authors/#{ book.author.id }" %></p>
  <p>Genre: <%= book.genre%></p>
  <p>Length: <%= book.page_length%> pages</p>
  <p>Available as audiobook: <%= book.available_as_audiobook%></p>

<% end %>

