<h1>Books by <%= @author.name %></h1>
<ul>
<% @books. each do |book| %>
  <li><h3><%= link_to book.name, "/books/#{ book.id }" %></h3></li>
  <p>Genre: <%= book.genre%></p>
  <p>Length: <%= book.page_length%> pages</p>
  <p>Available as audiobook: <%= book.available_as_audiobook%></p>
<% end %>
</ul>
<%= link_to "Sort Alphabetically", "/authors/#{ @author.id }/books?sort=alpha" %>
<%= link_to "Create Book", "/authors/#{ @author.id }/books/new" %>