<!DOCTYPE html>
<html>
  <head>
    <title>RelationalRailsLibrary</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
    .nav_bar {
      background-color: lightgray;
      text-align: justify;
    }
    .table_item {
      border-style: double;
    }
    </style>
  </head>

  <body>
  <h3 class="nav_bar"><a href="/books">Books</a> :: <a href="/authors">Authors</a><h3>

    <%= yield %>
    
  </body>
</html>
